@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: content-box;
}

#root {
  width: 100%;
  
}

html {
  height: 100%;
}

body {
  padding-top: 10px;
  height: 100%;
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

h1 {
  letter-spacing: 3px;
  text-align: center;
}

.poke-container {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  height: fit-content;
}

.App {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
  text-decoration: none;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

#link {
  text-decoration: none;
  color: black;
}

.bug {
  background-color: greenyellow;
}

.dragon {
  background-color: navy;
}

.electric {
  background-color: yellow;
}

.fighting {
  background-color: darkred;
}

.fire {
  background-color: red;
}

.flying {
  background-color: deepskyblue;
}

.ghost {
  background-color: darkslateblue;
}

.grass {
  background-color: green;
}

.ground {
  background-color: brown;
}

.ice {
  background-color: cyan;
}

.poison {
  background-color: purple;
}

.psychic {
  background-color: palevioletred;
}

.water {
  background-color: lightseagreen;
}

.rock {
  background-color: brown;
}