.pokemonPageMain  {
    display: grid;
    grid-template-columns: 10vh 40vh 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'pokemonPageImg pokemonPageInfo evolution'
    'pokemonPageStats pokemonPageStats evolution';
    width: fit-content;
    margin-left: 20px;
    align-content: center;
    align-self: flex-start;
}

.pokemonPageImg {
    grid-area: pokemonPageImg;
}

.pokemonPageInfo {
    grid-area: pokemonPageInfo;
}

.pokemonPageStats {
    padding-top: 10px;
    grid-area: pokemonPageStats;
}

.pokemonPageEvolutionChain {
  grid-area: evolution;
}

.App {
    height: fit-content;
}

.bug {
    background-color: greenyellow;
  }
  
  .dragon {
    background-color: navy;
  }
  
  .electric {
    background-color: yellow;
  }
  
  .fighting {
    background-color: darkred;
  }
  
  .fire {
    background-color: red;
  }
  
  .flying {
    background-color: deepskyblue;
  }
  
  .ghost {
    background-color: darkslateblue;
  }
  
  .grass {
    background-color: green;
  }
  
  .ground {
    background-color: brown;
  }
  
  .ice {
    background-color: cyan;
  }
  
  .poison {
    background-color: purple;
  }
  
  .psychic {
    background-color: palevioletred;
  }
  
  .water {
    background-color: lightseagreen;
  }
  
  .rock {
    background-color: brown;
  }