.pokemonPageMain  {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    'pokemonPageImg pokemonPageInfo'
    'pokemonPageStats pokemonPageStats';
    margin-left: 0;
    height: fit-content;
}

.pokemonPageImg {
    grid-area: pokemonPageImg;
}

.pokemonPageInfo {
    grid-area: pokemonPageInfo;
}

.pokemonPageStats {
    grid-area: pokemonPageStats;
}